/* Write your CSS here */
.summary-container {
  padding: 15px;
  box-shadow: 0px 4px 16px 0px #eaebed;
  align-self: flex-end;
}

@media screen and (max-width: 767px) {
  .summary-container {
    align-self: center;
  }
}

.summary-heading {
  color: #616e7c;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}
.total-price {
  color: #171f46;
  font-size: 22px;
  font-weight: bold;
}
.summary-count {
  color: #616e7c;
  font-size: 13px;
  margin-top: 0;
}
.checkout-btn {
  color: white;
  background-color: #0b69ff;
  padding: 7px;
  width: 100%;
  border: none;
}
